<div class="col-lg-4 col-lg-offset-4" style="z-index: 1;">
  <div id="logo"></div>
</div>

<div id="subtext" class="col-lg-4 col-lg-offset-4">
  <h2>simple to-do lists via sms</h2>
</div>

<div class="outside-container">
  <div class="new-user-well">
    <div class="container eternity-form">
      <div class="forgot-password-section animated fadeInUp">
        <div class="section-title">
          <p>Enter your confirmation code.</p>
        </div>
        <div class="forgot-content">
          <%= form_tag('/confirm', method: :post, id: 'confirm_user') do %>
            <%= hidden_field_tag 'user[id]', @user.id %>
            <div class="textbox-wrap">
              <div class="input-group input-group-lg col-lg-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
                  <%= text_field_tag 'user[confirmation_code]', nil, class: "form-control", placeholder: "123456", autocomplete: :off, required: "required", id: "text-input" %>
              </div>
            </div>
            <div class="forget-form-action clearfix">
              <div class="new-user-button input-group input-group-lg col-lg-12">
                <%= submit_tag "Confirm", class: "btn btn-success btn-lg btn-block green-btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>