<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 4</h3>
        <p>
          Hmm, can you remember what's on our list now? I sure can't. To see what's on our groceries list, text "#groceries" 
        </p>
      </div>
    </div>
  </div>
</div>