<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 1</h3>
        <p>
          Great, now that you're all signed up, here's a quick run-through of how membio works.
          First, let's make a new list called "groceries"
          To do that, text "@groceries" to membio.
        </p>
      </div>
    </div>
  </div>
</div>