<%= render partial: 'user_phone_number' %>
<div class="well steps-well col-lg-4 col-lg-offset-4">
  <p>
    Nice. Now that we've picked up the bananas, let's remove them from our list. You probably guessed it already, but to do this, text "groceries-bananas"
  </p>
</div>