<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 3</h3>
        <p>
          Nice. Now that we've picked up the bananas, let's remove them from our list. You probably guessed it already, but to do this, text "groceries-bananas"
        </p>
      </div>
    </div>
  </div>
</div>