<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 7</h3>
        <p>
          Great! Now, we've finished our grocery shopping and want to mark our groceries list as complete. Text "!groceries", and the list and any remaining items on it will be deleted.  
        </p>
      </div>
    </div>
  </div>
</div>