<%= render partial: 'user_phone_number' %>
<div class="getting-started-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Done</h3>
        <p>
          You are now officially a membio master. I really do hope you'll enjoy using it!
        </p>
        <p>
          If you ever run into any problems or have any questions or suggestions, please feel free to get in touch with me: <a href="mailto:logan@memb.io">logan@memb.io</a>. I'd love to hear from you!
        </p>
        <br/>
        <p class='logan-signature'>- Logan</p>
      </div>
    </div>
  </div>
</div>