<%= render partial: 'user_phone_number' %>
<div class="getting-started-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 2</h3>
        <p>
          Great work! This list is pretty boring, though. Let's add some stuff to it.
        </p>
        <p>
          Text <strong><em>groceries+grapes, cereal</strong></em>
        </p>
        <p><em>
          (Hint: notice the spacing. Normally, when using membio, spacing is up to you as long as you use commas between each item. For the purposes of this guide, though, text everything exactly as it's written here.)
        </p></em>
      </div>
    </div>
  </div>
</div>