<%= render partial: 'user_phone_number' %>
<div class="getting-started-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 5</h3>
        <p>
          Let's go ahead and make another list.
        </p>
        <p>
          This time, we'll be fancy and create it <em>and</em> add an item to it at the same time.
        </p>
        <p>
          Text <strong><em>@todo+walk the dog</strong></em>
        </p>
      </div>
    </div>
  </div>
</div>