<%= render partial: 'user_phone_number' %>
<div class="well steps-well col-lg-4 col-lg-offset-4">
  <p>
    Hmm, can you remember what's on our list now? I sure can't. To see what's on our groceries list, text "#groceries"
  </p>
</div>