<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Done</h3>
        <p>
          You're now a membio master and I hope you'll enjoy using it! If you run into any problems or have any questions at all, please feel free to get in touch with me: logan@memb.io. I'd love to hear from you!
        </p>
      </div>
    </div>
  </div>
</div>