<%= render partial: 'user_phone_number' %>
<div class="getting-started-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 1</h3>
        <p>
          Great, now that you're all signed up, here's a quick run-through of how membio works.
        </p>
        <p>
          First, let's make a new list called "groceries."
          To do that, text <strong><em>@groceries</strong></em> to membio.
        </p>

        <p><em>P.S. - If you ever get stuck, or if this guide goes a little wonky, just text <strong>?</strong> for help.</em></p>
      </div>
    </div>
  </div>
</div>