<%= render partial: 'user_phone_number' %>
<div class="well steps-well col-lg-4 col-lg-offset-4">
  <p>
    Great, now that you're all signed up, here's a quick run-through of how membio works.
    First, let's make a new list called "groceries"
    To do that, text "@groceries" to membio.
  </p>
</div>