<%= render partial: 'user_phone_number' %>
<div class="well steps-well col-lg-4 col-lg-offset-4">
  <p>
    Great! Now, we've finished our grocery shopping and want to mark our groceries list as complete. Text "!groceries", and the list and any remaining items on it will be deleted.
  </p>
</div>