<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 5</h3>
        <p>
          Let's make another list really quickly, and add an item to it at the same time. Text "@todo+walk the dog"
        </p>
      </div>
    </div>
  </div>
</div>