<%= render partial: 'user_phone_number' %>
<div class="well steps-well col-lg-4 col-lg-offset-4">
  <p>
    Great work! This list is pretty boring, though. Lets' add some stuff to it.
    Text "groceries+bananas, grapes, cereal"
  </p>
</div>