<%= render partial: 'user_phone_number' %>
<div class="well steps-well col-lg-4 col-lg-offset-4">
  <p>
    Nice work. Now that we have a couple of lists, it'd be nice to see what they all are, right? Text "*" to see all of your lists.
  </p>
</div>