<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 8</h3>
        <p>
          That's pretty much all there is to it! If you ever forget how to interact with membio, just text "?". Go ahead, try it now.  
        </p>
      </div>
    </div>
  </div>
</div>