<%= render partial: 'user_phone_number' %>
<div class="new-user-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 6</h3>
        <p>
          Nice work. Now that we have a couple of lists, it'd be nice to see what they all are, right? Text "*" to see all of your lists.
        </p>
      </div>
    </div>
  </div>
</div>