<%= render partial: 'user_phone_number' %>
<div class="getting-started-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 8</h3>
        <p>
          And that's pretty much all there is to it!
        </p>
        <p>
          If you ever forget how to interact with membio, just text <strong><em>?</strong></em>. Go ahead, try it now. I'll wait.
        </p>
      </div>
    </div>
  </div>
</div>