<%= render partial: 'user_phone_number' %>
<div class="getting-started-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 4</h3>
        <p>
          Hmm, can you remember what's on our grocery list now?
        </p>
        <p>
          Well, you probably can since it's right there on your phone, but I sure can't. Remind me:
        </p>
        <p>
          To see what's on our grocery list, text <strong><em>#groceries</strong></em> 
        </p>
      </div>
    </div>
  </div>
</div>