<%= render partial: 'user_phone_number' %>
<div class="getting-started-well">
  <div class="container eternity-form">
    <div class="forgot-password-section animated bounceInRight">
      <div class="section-title">
        <h3>Getting Started: Step 7</h3>
        <p>
          Great! Now, we've finished our grocery shopping and want to mark our grocery list as complete.
        </p>
        <p>
          Text <strong><em>!groceries</strong></em>, and the list and any remaining items on it will be deleted.  
        </p>
      </div>
    </div>
  </div>
</div>