/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require animate.min
 *= require font-awesome.min
 *= require forms
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot') format('embedded-opentype'), 
       asset-url('glyphicons-halflings-regular.woff') format('woff'), 
       asset-url('glyphicons-halflings-regular.ttf') format('truetype'), 
       asset-url('glyphicons-halflings-regular.svg') format('svg');
}

.new-user-well {
  margin-top: 13%;
}

.new-user-well p {
  margin-top: 4%;
  text-align: center;
}

.getting-started-well {
  margin-top: 16%;
}

p {
  color: #3498db;
  font-size: 1.2em;
}

.getting-started-well p {
  margin-top: 4%;
  text-align: center;
}

.getting-started-well h3 {
  text-align: center;
}

.confirm-user-well {
  margin-top: 5%;
}

.steps-well {
  margin-top: 5%;
}

footer {
  text-align: center;
  margin-top: 15%;
}

#footer-text {
  margin-bottom: 5px;
}
body {
  background-color: #3498db;
  background-image: -ms-radial-gradient(center top, circle farthest-side, #8bc4ea 0%, #3498db 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-side, #8bc4ea 0%, #3498db 100%);
  background-image: -o-radial-gradient(center top, circle farthest-side, #8bc4ea 0%, #3498db 100%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #8bc4ea), color-stop(1, #3498db));
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #8bc4ea 0%, #3498db 100%);
  background-image: radial-gradient(circle farthest-side at center top, #8bc4ea 0%, #3498db 100%);
  padding: 50px 0;
  min-height: 100%;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  -o-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/*body {
  background-color: #95a5a6;
  background-image: -ms-radial-gradient(center top, circle farthest-side, #ccd4d5 0%, #95a5a6 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-side, #ccd4d5 0%, #95a5a6 100%);
  background-image: -o-radial-gradient(center top, circle farthest-side, #ccd4d5 0%, #95a5a6 100%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #ccd4d5), color-stop(1, #95a5a6));
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #ccd4d5 0%, #95a5a6 100%);
  background-image: radial-gradient(circle farthest-side at center top, #ccd4d5 0%, #95a5a6 100%);
  padding: 50px 0;
  min-height: 100%;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  -o-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}*/

#logo {
  /*position: absolute;*/
  top: 10px;
  margin: auto;
  background-image: image-url('membio-logo.png');
  /*-webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);*/
  background-size: 100%;
  width: 448px;
  height: 89px;
}

/*#social-share {
  position: absolute;
  right: 2%;
  top: 2%;
}*/

#twitter {
  margin-right: -25px;
}

#hacker-news {
  margin-left: 5px;
}

#reddit img{
  margin-left: 5px;
  margin-top: -14px;
}

/*.hn_bt {
  margin-top: 1px !important;
}*/

#subtext {
  /*position: absolute;*/
  text-align: center;
  text-shadow: 1px 1px 4px #333;
  margin-top: -8px;
  /*top: 135px;*/
  color: white;
}

.section-title {
  border-radius: 5px;
}

.section-title h3 {
  color: black;
}

.forgot-password-section.animated.fadeInUp {
  box-shadow: 2px 4px 6px #555;
  border-radius: 5px;
  margin-top: 40px;
}

.forgot-password-section.animated.bounceInRight {
  box-shadow: 2px 4px 6px #555;
  border-radius: 5px;
}

#error {
  position: absolute;
  top: 200px;
  left: 60px;
  text-align: center;
  border-radius: 5px;
}

footer a {
  color: lavender;
}

p.logan-signature {
  /*-webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);*/
  text-align: right;
  /*margin-top: 50px;*/
  margin-right: 15px;
}

.btn {
  border-radius: 4px;
}

.eternity-form .section-title h3 {
  color: dimgrey;
}